<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Page One</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item-sliding *ngFor="let user of users" #item>
                    <ion-item >                 
                     <button ion-button large (click)="userSelected(user)">{{ user.name }}</button>                      
                    </ion-item>

                    <ion-item-options side="left">
                        <button ion-button >Favorite</button>
                        <button ion-button color="danger" >Share</button>
                    </ion-item-options>

                    <ion-item-options side="right">
                        <button ion-button >Unread</button>
                    </ion-item-options>
                </ion-item-sliding>
    </ion-list>
</ion-content>